asgiref==3.11.1
boto3==1.39.4
dj-database-url==3.1.2
Django==6.0.4
django-cors-headers==4.9.0
django-filter==25.2
django-storages==1.14.6
djangorestframework==3.17.1
drf-yasg==1.21.15
et_xmlfile==2.0.0
gunicorn==25.3.0
inflection==0.5.1
numpy==2.4.4
openpyxl==3.1.5
packaging==26.1
pandas==3.0.2
psycopg2-binary==2.9.12
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2026.1.post1
PyYAML==6.0.3
reportlab==4.4.4
six==1.17.0
sqlparse==0.5.5
tzdata==2026.1
uritemplate==4.2.0
whitenoise==6.12.0
xlrd==2.0.2
